---
layout: default
lang: en
ref: about
permalink: /about/
title: About Veil
lead: 
description: 'The Veil Project was conceived in early 2018, motivated by the need for a user-friendly cryptocurrency with full-time privacy, security, and advanced features.'
---
<div class="container py-12 md:pb-24">
  <div class="md:flex">
    <div class="flex-1 content md:pr-16">
      <p class="md:text-lg font-medium">
        The Veil Project was conceived in early 2018 by James Burden, a recognized industry expert in crypto-privacy and holding a track record of founding and leading successful cryptocurrency projects like PIVX. The motivation for the project was recognition of the need for a currency that provided full-time privacy without compromising strength of anonymity.
      </p>
      <p>
        With seed funding in excess of one million USD, a team of leading blockchain developers, including the well-respected Presstab, user experience experts and operations personnel was formed. Development started in August 2018, with the project's mainnet launch scheduled for Jan 1, 2019.
      </p>

      <h2 class="uppercase text-lg font-bold">Self-sustainability</h2>
      <p>
        A fundamental aspect of the project is the self-funding mechanism encoded into the network, providing funding for ongoing operations, marketing, partnerships, bounties and other activities underlying successful initiatives, as well as the formation of a decided entity, Veil Labs, charged with continued research and development in the areas of cryptography and blockchain development.
      </p>
      <p>
        Veil Labs has already attracted interest from some of the leading academic institutions in the world, and will help ensure that the Veil Project remains at the forefront of crypto privacy.
      </p>
      <p>
        <a href="/veil-labs/" class="font-medium">
          More about Veil Labs
          {% include icon.html name="chevron-right" class="h-2 w-2" %}
        </a>
      </p>
    </div>
    <div class="flex-none md:w-1/4">
      <img src="/uploads/cubes.png" alt="" class="mt-16 md:-mt-2 mb-4 w-64 mx-auto block">
      <ul class="list-reset leading-tight flex flex-wrap md:block">
        <li class="flex-none w-1/2 md:w-full pr-3 md:pr-0 mt-6 border-l-2 border-blue pl-3">Founded by James Burden in early 2018.</li>
        <li class="flex-none w-1/2 md:w-full pr-3 md:pr-0 mt-6 border-l-2 border-blue pl-3">Seed funded in excess of one million USD.</li>
        <li class="flex-none w-1/2 md:w-full pr-3 md:pr-0 mt-6 border-l-2 border-blue pl-3">Development started in August 2018.</li>
        <li class="flex-none w-1/2 md:w-full pr-3 md:pr-0 mt-6 border-l-2 border-blue pl-3">Mainnet launch scheduled for Jan 1, 2019.</li>
      </ul>
    </div>
  </div>
</div>

<section id="roadmap" class="bg-blue-darker text-white py-16 md:py-24">
  <header class="container">
    <h1 class="mb-1 text-3xl md:text-4xl leading-none">
      The Veil roadmap
    </h1>
    <p class="text-lg md:text-xl opacity-75 max-w-lg leading-tight">
      Our vision is to create the best privacy coin in the world. The path towards that goal currently foresees the following milestones.
    </p>
  </header>

  {% include roadmap.html %}
</section>

<div class="Veil bg-blue-dark text-white py-12 md:py-16">
  <div class="container text-md md:flex">
    <div class="flex-none md:w-2/3">
      <p>
         Our ambitions are not just to be incrementally better, but eclipse the current landscape of competitors, and deliver the privacy currency users will want to own and use in the future.
      </p>
      <p class="mt-6 font-medium">
        Sign up to the newsletter below, or connect on a social platform to stay up to date. We hope you join us for the ride!
      </p>
    </div>
  </div>
</div>
