---
layout: base
lang: en
ref: contact & support 
permalink: /contact/
title: Get in touch
description: 
lead: Getting in touch with Veil is just a click away.
---
{% capture header %}
  <div class="min-h-screen pt-24 flex items-center">
    <div class="container py-12 md:pt-0">
      <h1 class="mb-16 text-2xl md:text-4xl uppercase tracking-wide text-center">Get in touch</h1>
      <div class="max-w-md mx-auto p-10 bg-blue-darker">
        <form action="https://formspree.io/support@veil-project.com" method="POST">
          <p class="mb-6">
            <input type="text" name="name" placeholder="Your name" autofocus class="w-full px-0 rounded-none py-1 text-lg text-white bg-transparent border-b-2 border-teal outline-none focus:border-white">
          </p>
          <p class="mb-6">
            <input type="email" name="_replyto" placeholder="Email address" class="w-full px-0 rounded-none py-1 text-lg text-white bg-transparent border-b-2 border-teal outline-none focus:border-white">
          </p>
          <p class="mb-6">
            <textarea name="message" rows="5" placeholder="Message" class="w-full px-0 rounded-none py-1 text-lg text-white bg-transparent border-b-2 border-teal outline-none focus:border-white"></textarea>
          </p>
          <p class="mt-8 text-center">
            <button type="submit" class="inline-block leading-none appearance-none bg-teal hover:bg-white text-blue-darker rounded-full pt-4 pb-3 px-6 uppercase text-sm tracking-wide font-medium leading-none">Send message</button>
          </p>
        </form>
      </div>
    </div>
  </div>
{% endcapture %}
{% include header.html content=header %}
{% include footer.html %}
