---
layout: home
lang: en
ref: home
permalink: /
title: Privacy without compromise
description: 'Veil is working to integrate best-in-class anonymity technologies to become the first cryptocurrency that provides uncompromising always-on privacy. Learn about the technology, view the roadmap, download the wallet, and more.'
lead: 'Veil is working to integrate best-in-class anonymity technologies to become the first cryptocurrency that provides uncompromising always-on privacy. Learn about the technology, view the roadmap, download the wallet, and more.'
---

<section id="overview" class="py-16 md:py-24">
  <header class="mb-12 container">
    <div class="mb-12 text-sm uppercase font-medium tracking-wide">
      <span class="inline-block opacity-75 pr-2 lg:w-16 lg:-ml-16 text-right">01</span>
      <span class="inline-block text-teal border-b-2 border-teal">What is Veil?</span>
    </div>
    <h1 class="mb-1 text-3xl md:text-4xl leading-none">
      Built on a solid foundation
    </h1>
    <p class="text-lg md:text-xl opacity-75 leading-tight">
      Key technical differentiators that make Veil unique.
    </p>
  </header>

  <div class="container">
    <div class="-my-4 md:-my-6 md:-mx-4 flex flex-wrap">
      {% for item in site.data.key_differentiators[page.lang] %}
        <article class="w-full md:w-1/3 flex">
          <div class="py-4 md:py-6 md:px-4">
            <h1 class="font-medium text-sm uppercase tracking-wide leading-tight text-teal">{{ item.title }}</h1>
            <p class="mt-1 opacity-75">{{ item.body }}</p>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>

  <footer class="mt-12 container">
    {% include button.html label="More about Veil technology" href="/technology/" icon="chevron-right" %}
  </footer>
</section>

<div class="bg-blue-dark">
  <div class="container">
    {% assign testimonial = site.data.testimonials[1] %}
    {% include testimonial.html data=testimonial %}
  </div>
</div>

<section id="roadmap" class="py-16 md:py-24">
  <header class="container">
    <div class="mb-12 text-sm uppercase font-medium tracking-wide">
      <span class="inline-block opacity-75 pr-2 lg:w-16 lg:-ml-16 text-right">02</span>
      <span class="inline-block text-teal border-b-2 border-teal">What's the plan?</span>
    </div>
    <h1 class="mb-1 text-3xl md:text-4xl leading-none">
      The Veil Roadmap
    </h1>
    <p class="text-lg md:text-xl opacity-75 max-w-lg leading-tight">
      Our vision is to create the best privacy coin in the world. The path towards that goal currently foresees the following milestones.
    </p>
  </header>

  {% include roadmap.html %}
</section>

<div class="bg-blue-dark">
  <div class="container">
    {% assign testimonial = site.data.testimonials[0] %}
    {% include testimonial.html data=testimonial %}
  </div>
</div>

<section id="get-started" class="py-16 md:py-24">
  <header class="mb-12 container">
    <div class="mb-12 text-sm uppercase font-medium tracking-wide">
      <span class="inline-block opacity-75 pr-2 lg:w-16 lg:-ml-16 text-right">03</span>
      <span class="inline-block text-teal border-b-2 border-teal">Get started</span>
    </div>
    <h1 class="mb-1 text-3xl md:text-4xl leading-none">
      Get started
    </h1>
    <p class="text-lg md:text-xl leading-tight opacity-75 max-w-lg leading-tight">
      Shortly after our launch, you'll have three ways to get started with Veil.
    </p>
  </header>
  <div class="container">
    <div class="flex flex-col md:flex-row md:text-center">
      <a up-dash href="/get-started/" class="flex-1 text-white hover:text-teal flex md:flex-col items-center md:items-stretch justify-end">
        <div class="flex-none w-20 h-20 md:w-32 md:h-32 -ml-1 -mt-1 md:m-0 md:self-center">
          <img src="/dist/img/get-started/wallet.svg" alt="">
        </div>
        <div class="flex-1 ml-4 md:ml-0 md:mt-4">
          <div class="font-medium md:text-md">
            Download the wallet
            {% include icon.html name="chevron-right" class="w-2 h-2" %}
          </div>
        </div>
      </a>
      <div class="flex-none h-px md:h-auto md:w-px bg-blue-light opacity-25 my-4 md:my-0 md:mb-2 md:mx-8"></div>
      <a up-dash href="/mining/" class="flex-1 text-white hover:text-teal flex md:flex-col items-center md:items-stretch justify-end">
        <div class="flex-none w-20 h-20 md:w-32 md:h-32 -ml-1 -mt-1 pr-2 md:px-2 md:m-0 md:self-center">
          <img src="/dist/img/get-started/mine.svg" alt="">
        </div>
        <div class="flex-1 ml-4 md:ml-0 md:mt-4">
          <div class="font-medium md:text-md">
            Mine Veil
            {% include icon.html name="chevron-right" class="w-2 h-2" %}
          </div>
        </div>
      </a>
      <div class="flex-none h-px md:h-auto md:w-px bg-blue-light opacity-25 my-4 md:my-0 md:mb-2 md:mx-8"></div>
      <a up-dash href="/bounties/" class="flex-1 text-white hover:text-teal flex md:flex-col items-center md:items-stretch justify-end">
        <div class="flex-none w-20 h-20 md:w-32 md:h-32 -ml-1 -mt-1 pr-2 md:px-2 md:m-0 md:self-center">
          <img src="/dist/img/get-started/bounty.svg" alt="">
        </div>
        <div class="flex-1 ml-4 md:ml-0 md:mt-4">
          <div class="font-medium md:text-md">
            Bounty work
            {% include icon.html name="chevron-right" class="w-2 h-2" %}
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<div class="bg-blue-dark">
  <div class="container">
    {% assign testimonial = site.data.testimonials[2] %}
    {% include testimonial.html data=testimonial %}
  </div>
</div>
