{% assign pages = site.pages | where:"ref", "home" | where:"lang", page.lang %}
{% assign home = pages[0] %}

<div class="VeilNav VeilNav--sm md:hidden fixed z-50 pin-t pin-x" up-nav>
  <div data-price up-keep up-id="marketprice1" class="flex-none p-4 font-medium text-sm"><span class="text-white opacity-25">Loading…</span></div>

  <a up-dash href="{{ home.url }}" class="VeilNav-logo flex flex-col items-center justify-center">
    <span class="VeilNav-logo-icon"><img src="/dist/img/logo-icon.png" class="w-16" alt=""></span>
    <span class="VeilNav-logo-type"><img src="/dist/img/logo-text.png" class="w-12" alt=""></span>
  </a>

  <nav class="VeilNav-menu p-10">

     <span class="block mb-1 mt-8 uppercase tracking-wide font-medium text-teal text-sm">
      About
    </span>
    <a up-dash class="block text-lg text-white" href="/about/">About</a>
    <a up-dash class="block text-lg text-white" href="/team/">Team</a>
    <a up-dash class="block text-lg text-white" href="/veil-labs/">Labs</a>
    <a up-dash class="block text-lg text-white" href="/press/">Press & Media</a>
    <a up-dash class="block text-lg text-white" href="/license/">License</a>

    <span class="block mb-1 mt-8 uppercase tracking-wide font-medium text-teal text-sm">
      News
    </span>
    <a up-dash class="block text-lg text-white" href="/news/">News</a>
    <a up-dash class="block text-lg text-white" href="/blog/">Blog</a>

    <span class="block mb-1 mt-8 uppercase tracking-wide font-medium text-teal text-sm">
      Tech
    </span>
    <a up-dash class="block text-lg text-white" href="/technology/">Overview</a>
    <a up-dash class="block text-lg text-white" href="/specs/">Specifications</a>

    <span class="block mb-1 mt-8 uppercase tracking-wide font-medium text-teal text-sm">
      Resources
    </span>
    <a up-dash class="block text-lg text-white" href="/get-started/">Wallet</a>
    <a up-dash class="block text-lg text-white" href="/mining/">Mining</a>
    <a up-dash class="block text-lg text-white" href="/exchanges/">Exchanges</a>
    <a up-dash class="block text-lg text-white" href="/bounties/">Bounties</a>
    <a class="block text-lg text-white" href="https://explorer.veil-project.com">Explorer</a>


    <span class="block mb-1 mt-8 uppercase tracking-wide font-medium text-teal text-sm">
      Support
    </span>
    <a up-dash class="block text-lg text-white" href="/faqs/">FAQs & Support</a>
    <a up-dash class="block text-lg text-white" href="/contact/">Contact</a>
  </nav>

  <button class="VeilNav-menuBtn" onclick="$('.VeilNav').toggleClass('is-open');return false"></button>
</div>

<div up-fixed="top" class="VeilNav hidden md:block fixed z-50 pin-t pin-x" up-nav>
  <div class="h-20 md:h-24 flex items-center justify-between uppercase text-sm font-medium tracking-wide">
    <a up-dash href="{{ home.url }}" class="flex-none px-8">
      <img src="/dist/img/logo.png" alt="Veil" width="88">
    </a>
    <nav class="absolute pin-y pin-x-center flex items-center">
      <div class="Dropdown text-white opacity-75 hover:opacity-100">
        <span class="block py-3 px-4 pointer-events-none">
          About
        </span>
        <div class="Dropdown-menu">
          <a up-dash class="hover:text-blue" href="/about/">About</a>
          <a up-dash class="hover:text-blue" href="/team/">Team</a>
          <a up-dash class="hover:text-blue" href="/veil-labs/">Labs</a>
          <a up-dash class="hover:text-blue" href="/press/">Press & Media</a>
          <a up-dash class="hover:text-blue" href="/license/">License</a>
        </div>
      </div>
      <div class="Dropdown text-white opacity-75 hover:opacity-100">
        <span class="block py-3 px-4 pointer-events-none">
          News
        </span>
        <div class="Dropdown-menu">
          <a up-dash class="hover:text-blue" href="/news/">News</a>
          <a up-dash class="hover:text-blue" href="/blog/">Blog</a>
        </div>
      </div>
      <div class="Dropdown text-white opacity-75 hover:opacity-100">
        <span class="block py-3 px-4 pointer-events-none">
          Tech
        </span>
        <div class="Dropdown-menu">
          <a up-dash class="hover:text-blue" href="/technology/">Overview</a>
          <a up-dash class="hover:text-blue" href="/specs/">Specifications</a>
        </div>
      </div>
      <div class="Dropdown text-white opacity-75 hover:opacity-100">
        <span class="block py-3 px-4 pointer-events-none">
          Resources
        </span>
        <div class="Dropdown-menu">
          <a up-dash class="hover:text-blue" href="/get-started/">Wallet</a>
          <a up-dash class="hover:text-blue" href="/mining/">Mining</a>
          <a up-dash class="hover:text-blue" href="/exchanges/">Exchanges</a>
          <a up-dash class="hover:text-blue" href="/bounties/">Bounties</a>
          <a class="hover:text-blue" href="https://explorer.veil-project.com">Explorer</a>

        </div>
      </div>
      <div class="Dropdown text-white opacity-75 hover:opacity-100">
        <span class="block py-3 px-4 pointer-events-none">
          Support
        </span>
        <div class="Dropdown-menu">
          <a up-dash class="hover:text-blue" href="/faqs/">FAQs & Support</a>
          <a up-dash class="hover:text-blue" href="/contact/">Contact</a>
        </div>
      </div>
    </nav>
    <div class="px-8">
      <div data-price up-keep up-id="marketprice2"><span class="text-white opacity-25">Loading…</span></div>
    </div>
  </div>
</div>

<header class="Veil relative z-1 bg-blue-dark text-white">
  {% if include.content %}
    {{ include.content }}
  {% else %}
    {% if include.hide_title == true %}
    <div class="h-32 md:h-24"></div>
    {% else %}
      <div class="pt-24">
        <div class="container pt-16 pb-16 {% if page.layout == "page" %}md:pt-12 md:pb-32{% else %}md:pt-12 md:pb-20{% endif %} text-center">
          <h1 class="text-2xl md:text-4xl uppercase tracking-wide">{{ include.title | default:page.title }}</h1>
          {% if page.lead %}
            <p class="mt-2 max-w-md mx-auto text-lg text-white opacity-75 leading-tight">
              {{ page.lead }}
            </p>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endif %}
</header>