<form action="https://veil-project.us19.list-manage.com/subscribe/post?u=6cb67d41ea917bd9743d1af1e&amp;id=de6f71a8f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6cb67d41ea917bd9743d1af1e_de6f71a8f0" tabindex="-1" value=""></div>
  <h1 class="text-white text-sm uppercase font-medium tracking-wide leading-tight" for="mce-EMAIL">
    Get the VEIL newsletter:
  </h1>
  <input class="mt-3 mb-4 text-center w-full p-3 text-white text-base bg-blue-darkest rounded-none outline-none" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>
  <input class="pt-3 pb-2 px-6 text-center leading-none rounded-full bg-teal hover:bg-white uppercase text-xs text-blue-darker font-medium tracking-wide cursor-pointer" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
</form>