<article class="relative py-10 md:pl-20 md:py-16">
  <div class="opacity-25 -mt-12 mb-2 md:mt-0 md:absolute md:pin-l md:pin-t md:mt-16">
    {% include icon.html name="quote" class="w-16 h-12" %}
  </div>
  <p class="mb-6 -mt-2 text-lg md:text-xl max-w-lg">{{ testimonial.quote[page.lang] }}</p>
  <div class="flex items-center">
    <img class="rounded-full h-10 w-10 mr-3" src="{{ testimonial.avatar }}">
    <a href="{{ testimonial.url }}" class="text-white font-medium md:text-lg">@{{ testimonial.handle }}</a>
  </div>
</article>